{
	/* For each personality, define values for the communications keys
	 * set up in comms-pack-a.js. To add variety to the comms
	 * messages, most of the definitions are arrays. To allow shared
	 * definitions, as well as the personality-based keys there are
	 * also role-based keys e.g. prefix commsPackA_hunter_ and generic
	 * keys prefixed commsPackA_generic_
	 *
	 * These might be used exclusively - e.g. 
	 * "commsPackA_personality_key" = "[commsPackA_generic_key]"
	 * or as one option of many - e.g.
	 * "commsPackA_personality_key" = (
	 *   "[commsPackA_generic_key]",
	 *   "[commsPackA_role_key]",
	 *   "Some specific message",
	 *   "Another specific message"
	 * );
	 *
	 * That example gives a 50% chance of one of the two specific
	 * messages, a 25% chance of one of the role messages (that key
	 * might well be an array itself), and a 25% chance of a generic
	 * message. Often the personality key might reference the same
	 * generic message twice, to boost the chances - e.g.
	 * commsPackA_personality_key = (
	 *   "[commsPackA_generic_key]",
	 *   "[commsPackA_generic_key]",
	 *   "[commsPackA_generic_key]",
	 *   "[commsPackA_generic_key]",
	 *   "[commsPackA_generic_key]",
	 *   "A specific message",
	 * );
	 * for a 5/6 chance of one of the generic messages, and a 1/6
	 * chance of something more unusual.
	 */

	"commsPackA_number" = ("two","three","three","four","four","five","six","several");
	"commsPackA_bigger_number" = ("ten","fifteen","twenty","many");

	/* Generic messages. As these may be called by a wide range of
	 * ships, it's best if there's a big range of options in each of
	 * these. */
	"commsPackA_generic_attackLowEnergy" = ("Shields are gone! Someone please help...","I can't take much more of this...","I need some support here!","The [oolite_entityName] is too strong","I'm taking heavy fire from the [oolite_entityClass]. Help!","%N! I can't shake them!","%N! %N!");

	"commsPackA_generic_beginningAttack" = ("Die, [oolite_entityClass]!","I've got the [oolite_entityName]","Die, [oolite_entityName]!","Run while you can, [oolite_entityClass]","Target locked!");

	"commsPackA_generic_beginningAttackThargoid" = ("Thargoids? Why here?","%N! Thargoids!");

	"commsPackA_generic_continuingAttack" = ("Your fancy flying won't save you forever, [oolite_entityClass]","Give up, [oolite_entityName]. We have you outclassed.","I've got the [oolite_entityClass]","Die, [oolite_entityName]!");

	/**
	 * And now the various specific messages. There don't *need* to be
	 * as many of each, as they're called less often, but the more
	 * there are the more the ships will get their own personalities
	 **/

	/* Vigilante - a bounty hunter motivated by removing criminals for
	 * a perceived social good. */
	"commsPackA_vigilante_attackLowEnergy" = ("You may kill me, but you won't escape justice forever!","This criminal in a [oolite_entityClass] is getting the better of me","[commsPackA_generic_attackLowEnergy]","[commsPackA_generic_attackLowEnergy]","[commsPackA_generic_attackLowEnergy]");

	"commsPackA_vigilante_beginningAttack" = ("Die, criminal!","Your [oolite_entityClass] won't save you now","This is for the [nom1]","For %H!","[commsPackA_generic_beginningAttack]","[commsPackA_generic_beginningAttack]");

	"commsPackA_vigilante_beginningAttackThargoid" = ("For the Cooperative!","Die, Thargoid!","You'll never take %H, Thargoid!","We'll blast you back into witchspace!","[commsPackA_generic_beginningAttackThargoid]");

	"commsPackA_vigilante_beginningFight" = ("Your crimes end here!","Death to pirates!","It's the [oolite_entityName]. Open fire!","You'll pay for your crimes, [oolite_entityCrew]!","It's time to clean up %H","Confirmed on the [oolite_entityClass]; wanted dead or alive in [commsPackA_number] systems");

	"commsPackA_vigilante_continuingFight" = ("No quarter for pirates!","%H will be safer when you're dead!","[commsPackA_generic_continuingAttack]","[commsPackA_generic_continuingAttack]","[commsPackA_generic_continuingAttack]");

	"commsPackA_vigilante_distressResponseAggressor" = ("Pick on someone your own size, [oolite_entityName]!","Cease your attacks or be destroyed!","We've got a live one! Locking on the [oolite_entityClass] now!","Hit those raiders before they do any more damage!","Back off, [oolite_entityClass]. You've just become outnumbered.");

	"commsPackA_vigilante_distressResponseSender" = ("Hang on, [oolite_entityName]. Help is on the way.","We'll have your attackers on scanners in just a few seconds, [oolite_entityName]","Distress call acknowledged, [oolite_entityClass]. We're moving to assist.","Protect the [oolite_entityName] while it gets clear","I can't see the pirates yet, but they'll be close. Arm all weapons");


}